encoder/RETFound_cfp_weights.pth
data/fundus/grape_fundus_images/*.jpg
data/*.pt
decoder/*.pth
encoder/*.pth

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Generated checkpoint binaries inside results
decoder/results/**/*.pth
